language: objective-c
osx_image: xcode9.4
xcode_workspace: DevKit.xcworkspace # path to your xcodeproj folder
xcode_scheme: DevKit
xcode_destination: platform=iOS Simulator,OS=11.3,name=iPhone X
before_install:
    - cd DevKit && pod install
after_success:
    - gem install jazzy
    - make documentation
    - cd ..
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GH_TOKEN  # Set in the settings page of your repository, as a secure variable
  keep-history: true