language: objective-c
osx_image: xcode9.4
xcode_workspace: DevKit.xcworkspace # path to your xcodeproj folder
xcode_scheme: DevKit
xcode_destination: platform=iOS Simulator,OS=11.3,name=iPhone X
before_install:
    - cd DevKit && pod install
after_success:
    - gem install jazzy
    - make documentation
    - cd ..
    - git config --global user.email "builds@travis-ci.com"
    - git config --global user.name "Travis CI"
    - git add .
    - git commit -m "Documentation Auto Updated." 
    - git push https://${GH_TOKEN}@github.com/prolificinteractive/DevKit.git HEAD